<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <description>messageQueue</description>

    <!--用于管理消息队列连接的服务-->
    <bean id="queueConnectionFactory" class="com.attempt.core.queue.impl.QueueConnectionFactoryImpl"
          depends-on="springContextHolder"/>

    <!--用于构建RabbitMQ封装信息的Builder-->
    <bean id="rabbitWarpperBuilder" class="com.attempt.core.queue.impl.RabbitWarpperBuilderImpl"/>

    <!-- 动态缓存数据源路由 -->
    <bean id="queueConnectionAdvice" class="com.attempt.core.queue.advice.QueueConnectionAdvice"/>

    <!-- 对所有com.*.*.service.impl和com.*.*.web包内的方法做连接缓存指定-->
    <aop:config>
        <aop:aspect id="queueAspect" ref="queueConnectionAdvice" order="1">
            <aop:pointcut id="queuePointcut"
                          expression="(execution(* com.*.*.service.impl..*.*(..)) or execution(* com.*.*.web..*.*(..)))
                          and @annotation(com.attempt.core.queue.annotation.QueueSource)"/>
            <aop:before method="doBefore" pointcut-ref="queuePointcut"/>
            <aop:after method="doAfter" pointcut-ref="queuePointcut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="queuePointcut" throwing="throwable"/>
        </aop:aspect>
    </aop:config>

</beans>
