<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <description>messageQueueTest</description>

   <!--开启注解 -->
    <context:component-scan base-package="com.*.test.*.service" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.beans.factory.annotation.Autowired"/>
        <context:include-filter type="annotation" expression="javax.annotation.Resource"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <aop:config>
        <aop:aspect id="queueAspect" ref="QueueConnectionAdvice" order="1">
            <aop:pointcut id="queuePointcut"
                          expression="(execution(* com.*.test.queue..*.*(..))) and @annotation(com.attempt.core.queue.annotion.QueueSource)"/>
            <aop:before method="doBefore" pointcut-ref="queuePointcut"/>
            <aop:after method="doAfter" pointcut-ref="queuePointcut"/>
        </aop:aspect>
    </aop:config>
</beans>
